@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/baserules";
@import "./Layouts/footer";

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1185px;
}

.cloche{
    height: 400px;
    position: relative;
    top: -286px;
    transform: rotateZ(360deg);
    transform-origin: 0% 100%;
    animation: cloche 3000ms ease-in infinite alternate forwards;
        & img{
            height: 100%;
        }
}

@keyframes cloche{
    0%{
        transform: rotateZ(360deg);
    };
    20%{
        transform: rotateZ(360deg);
    }
    40%{
        transform: rotateZ(320deg);
    }
    100%{
        transform: rotateZ(320deg);
    };
}

.loader{
    font-family: 'Shrikhand', sans-serif;
    font-size: 48px;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 2px;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(#FF79DA, #9356DC) no-repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.loader::after {
    content: 'Ohmyfood';
    position: absolute;
    left: 0;
    top: 0;
    color: #d6d6d6;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: animloader 6s linear infinite;
  }

  @keyframes animloader {
    0% {
      height: 100%;
    }
    100% {
      height: 0%;
    }
  }

  .plate {
    width: 20px;
    height: 20px;
    position: relative;
    left: -96px;
    top: -387px;
    border-radius: 50%;
    color: $first-color;
    background: $first-color;
    box-shadow: 60px 0, 120px 0, 180px 0;
  }
  
  .plate::after {
    content: '';
    position: absolute;
    left: -96px;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background:#FF3D00;
    animation: move 3s linear infinite alternate;
  }
  
  @keyframes move {
    0% , 5%{
      left: 0px;
      width: 20px;
    }
    15% , 20%{
      left: 0px;
      width: 80px;
    }
    30% , 35%{
      left: 60px;
      width: 20px;
    }
    45% , 50%{
      left: 60px;
      width: 80px;
    }
    60% , 65%{
      left: 120px;
      width: 20px;
    }
  
    75% , 80% {
      left: 120px;
      width: 80px;
    }
    95%, 100% {
      left: 180px;
      width: 20px;
    }
}