@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/baserules";
@import "./Layouts/footer";
@import "./loader";


@media screen and (min-width: 320px){

body{
    margin: 0px;
}
.main{   
        margin: auto;
        animation: fadeIn 3s;
    }
    
    //A DEVELOPPER ET A AMELIORER POUR COMPATIBILITE BROWSER//
    @keyframes fadeIn {
        0%{opacity: 0;}
        80%{opacity: 0;}
        100%{opacity: 1;}
    }


header{
margin-top: 5px;
display: flex;
justify-content: center;
position: relative;
top: -45px;
}
    .header__img{
    width: 250px;
    }

    //style for the explore section containing h1 txt and cta//
.explore{
    color : $dark-background;
    background-color: $light-background;
        &__location{
            background-color: $med-background;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap:15px;
        }
        &__infos{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 40px;
            align-items: center;
        }
        //cta with hover animation//
        &__infos__cta{
            @include ctacolored();
                & a{
                    text-decoration: none;
                    color: white;
                }
        }
}

//style for the function section.
.function{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 75px;
        &__desc{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
        }
        //the cta style is contain in a mixin in mixin.scss//
        &__desc__cta{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            @include ctafunction();
                &:hover i{
                    color: $first-color;
                }
                &__txt{
                    display: flex;
                    flex-direction: row;
                    gap: 25px;
                    margin-left: 15px;
                    align-items: center;
                }
                & span{
                    width: 24px;
                    height: 24px;
                    border-radius: 13px;
                    padding: 4px 2px 0px 2px;
                    background-color: $first-color;
                    color: white;
                    text-align: center;
                    position: relative;
                    left: -15px;
                }
                & i{
                    color: #7e7e7e;
                }
                & p{
                    font-family: 'Roboto';
                    font-weight: 500;
                    font-size: 16px;
                }
        }
}

//Define the style for the "restaurants" section and for each card//
.restos{
    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
    background-color: $light-background;
        &__choices{

            &__card{ 
                display:flex;
                filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.4));
                &__a{
                    text-decoration: none;
                    color: black;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 33px;
                    height: 400px;
                    width: 100%;
                    &__visu{
                        display: flex;
                        flex-direction: column;
                        height: 70%;
                        width: 100%;
                            &__img{
                                width: 100%;
                                object-fit: cover;
                                border-radius: 15px 15px 0px 0px;
                                height: 280px;
                            }
                            // "__com" defines the "nouveau" pin in the card//
                            &__com{
                                position: absolute;
                                top: 56px;
                                right: 30px;
                                background-color: #99e2d0;
                                color: #1b6150;
                                height: 20px;;
                                padding: 8px;
                                font-weight: 500;
                            }
                    }
                }
            // Define the style of the bottom part of the card containing restaurant name and heart anim//
            &__desc{
                padding: 15px;
                background-color: #f6f6f6;
                border-radius: 0px 0px 15px 15px;
                width: -webkit-fill-available;
                width: -moz-available;
            }
            //heart animation setup//
            &__anim{
                position: absolute;
                cursor: pointer;
                right: 63px;
                top:358px;
                    &__heart{
                        @include heartanim;
                    }
                }
            }
        }
}

}






//Media querry for tablet version. Allows screens width from 767px to 1024px//
@media screen and (min-width: 767px){
    //same version for mobile and tablet//
}

//Media querry for desktop version. Allows screens width from 1024px to 1440px//
@media screen and (min-width: 1024px){

    body{
        margin: auto;
    }

    .function__desc{
        flex-direction: row;
        &--cta{
            max-width: 30%;
        }
    }

    .restos__choices{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
            &__card{
                width: 45%;
                    &__anim{
                        top: 359px;
                    }
            }
            & a{
                width: 100%;
            }
    }
}

//breakpoint  1024px//