@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/baserules";
@import "./Layouts/footer";



@media screen and (min-width: 320px){

body{
    margin: 0px;
}

header{
margin-top: 5px;
height: 63px;
display: flex;
justify-content: center;
}
    .header--img{
    width: 162px;
    }

    //style for the explore section containing h1 txt and cta//
.explore{
    color : $dark-background;
    background-color: $light-background;
        &--location{
            background-color: $med-background;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap:15px;
        }
        &--infos{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 40px;
            align-items: center;
        }
        //cta with hover animation//
        &--infos--cta{
            @include ctacolored();
                & a{
                    text-decoration: none;
                    color: white;
                }
        }
}

.function{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 75px;
        &--desc{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
        }
        &--desc--cta{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            @include ctafunction();
                &--txt{
                    display: flex;
                    flex-direction: row;
                    gap: 25px;
                    margin-left: 15px;
                    align-items: center;
                }
                & span{
                    width: 24px;
                    height: 24px;
                    border-radius: 13px;
                    padding: 4px 2px 0px 2px;
                    background-color: $first-color;
                    color: white;
                    text-align: center;
                    position: relative;
                    left: -15px;
                }
                & i{
                    color: #7e7e7e;
                }
                & p{
                    font-family: 'Roboto';
                    font-weight: 500;
                    font-size: 16px;
                }
        }
}

.restos{
    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
    background-color: $light-background;
        &__choices{

            &__card{ 
                display:flex;
                margin-top:33px;
                filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.4));
                &__a{
                    text-decoration: none;
                    color: black;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 33px;
                    height: 400px;
                    width: 100%;
                    &__visu{
                        display: flex;
                        flex-direction: row;
                        height: 70%;
                            &__img{
                                width: 100%;
                                object-fit: cover;
                                border-radius: 15px 15px 0px 0px;
                            }
                            &__com{
                                position: relative;
                                top: 16px;
                                right: 95px;
                                background-color: #99e2d0;
                                color: #1b6150;
                                height: 20px;;
                                padding: 8px;
                                font-weight: 500;
                            }
                    }
                }
            &__desc{
                padding: 15px;
                background-color: #f6f6f6;
                border-radius: 0px 0px 15px 15px;
                width: -webkit-fill-available;
            }
            &__anim{
                position: absolute;
                cursor: pointer;
                right: 63px;
                top:358px;
                    &__heart{
                        position: relative;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 16px;
                        margin-bottom: 20px;
                            &--empty{
                                position: absolute;
                                color: black;
                            }
                            &--full{
                                position: absolute;
                                opacity: 0;
                                background: linear-gradient(#FF79DA, #9356DC) no-repeat;
                                -webkit-background-clip: text;
                                color: transparent;
                                transition: all 400ms;
                            }
                            &:focus &--full{
                                opacity: 1;
                                animation: pulse 1000ms 1;
                        
                            }
                            &:focus &--empty{
                                opacity: 0;
                            }
                    }
                }
            }
        }
}

}


@keyframes pulse {
    0%{
        transform: scale(.5);
    }
    75%{
        transform: scale(1.2);
    }
}





//Media querry for tablet version. Allows screens width from 767px to 1024px//
@media screen and (min-width: 767px){
    //same version for mobile and tablet//
}

//Media querry for desktop version. Allows screens width from 1024px to 1440px//
@media screen and (min-width: 1024px){

    body{
        margin: auto;
    }

    .function--desc{
        flex-direction: row;
        &--cta{
            max-width: 30%;
        }
    }

    .restos--choices{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
            & a{
                width: 45%;
            }
    }
}

//breakpoint  1024px//