@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    transform: scale(1.2);
  }
}
body, h1, h2 {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

h3, p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.explore__infos__txt {
  white-space: normal;
}

.mainh2 {
  font-weight: 700;
  font-size: 24px;
  border-bottom: 0;
}

@media screen and (min-width: 320px) {
  footer {
    background-color: #353535;
    color: white;
    padding: 25px;
  }
  footer ul {
    list-style-type: none;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  footer li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    line-height: 30px;
  }
  footer a {
    text-decoration: none;
    color: white;
    transition: color 300ms 150ms;
  }
  footer a:hover {
    color: #a872e3;
  }
  footer img {
    filter: invert(100%);
    height: 27px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
  }
  footer ul {
    display: flex;
    gap: 20px;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    transform: scale(1.2);
  }
}
body, h1, h2 {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

h3, p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.explore__infos__txt {
  white-space: normal;
}

.mainh2 {
  font-weight: 700;
  font-size: 24px;
  border-bottom: 0;
}

@media screen and (min-width: 320px) {
  footer {
    background-color: #353535;
    color: white;
    padding: 25px;
  }
  footer ul {
    list-style-type: none;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  footer li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    line-height: 30px;
  }
  footer a {
    text-decoration: none;
    color: white;
    transition: color 300ms 150ms;
  }
  footer a:hover {
    color: #a872e3;
  }
  footer img {
    filter: invert(100%);
    height: 27px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
  }
  footer ul {
    display: flex;
    gap: 20px;
  }
}
@media screen and (min-width: 320px) {
  .loaderpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 304px;
    opacity: 0;
    animation: fade 2.5s 150ms ease-out;
  }
  @keyframes fade {
    10% {
      opacity: 1;
    }
    98% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .loader {
    font-family: "Shrikhand", sans-serif;
    font-size: 48px;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 2px;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(#FF79DA, #9356DC) no-repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .loader::after {
    content: "Ohmyfood";
    position: absolute;
    left: 0;
    top: 0;
    color: #d6d6d6;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: animloader 3s 150ms infinite;
  }
  @keyframes animloader {
    0% {
      height: 100%;
    }
    40% {
      height: 60%;
    }
    60% {
      height: 50%;
      animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
    }
    100% {
      height: 0%;
    }
  }
  .plate {
    width: 20px;
    height: 20px;
    position: relative;
    left: -96px;
    top: 14px;
    border-radius: 50%;
    color: #9356DC;
    background: #9356DC;
    box-shadow: 60px 0, 120px 0, 180px 0;
  }
  .plate::after {
    content: "";
    position: absolute;
    left: -96px;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FF79DA;
    animation: move 3s 150ms linear infinite alternate;
  }
  @keyframes move {
    0%, 5% {
      left: 0px;
      width: 20px;
    }
    15%, 20% {
      left: 0px;
      width: 80px;
    }
    30%, 35% {
      left: 60px;
      width: 20px;
    }
    45%, 50% {
      left: 60px;
      width: 80px;
    }
    60%, 65% {
      left: 120px;
      width: 20px;
    }
    75%, 80% {
      left: 120px;
      width: 80px;
    }
    95%, 100% {
      left: 180px;
      width: 20px;
    }
  }
}
@media screen and (min-width: 320px) {
  body {
    margin: 0px;
  }
  .main {
    margin: auto;
    animation: fadeIn 3s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  header {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -45px;
  }
  .header__img {
    width: 250px;
  }
  .explore {
    color: #353535;
    background-color: #f3f3f3;
  }
  .explore__location {
    background-color: #eaeaea;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .explore__infos {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    align-items: center;
  }
  .explore__infos__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 25px;
    height: 50px;
    width: 218px;
    background: linear-gradient(-180deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-size: 16px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 70px;
    margin-bottom: 80px;
    transition: transform 450ms, background 300ms 150ms;
  }
  .explore__infos__cta:hover {
    background: linear-gradient(-180deg, #a872e3 -11.44%, #ff92e0 123.93%);
    transform: scale(1.02);
  }
  .explore__infos__cta a {
    text-decoration: none;
    color: white;
  }
  .function {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 75px;
  }
  .function__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  .function__desc__cta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
    width: 280px;
    border-radius: 20px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  }
  .function__desc__cta__txt {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-left: 15px;
    align-items: center;
  }
  .function__desc__cta span {
    width: 24px;
    height: 24px;
    border-radius: 13px;
    padding: 4px 2px 0px 2px;
    background-color: #9356DC;
    color: white;
    text-align: center;
    position: relative;
    left: -15px;
  }
  .function__desc__cta i {
    color: #7e7e7e;
  }
  .function__desc__cta p {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
  }
  .restos {
    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
    background-color: #f3f3f3;
  }
  .restos__choices__card {
    display: flex;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.4));
  }
  .restos__choices__card__a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 33px;
    height: 400px;
    width: 100%;
  }
  .restos__choices__card__a__visu {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
  }
  .restos__choices__card__a__visu__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    height: 280px;
  }
  .restos__choices__card__a__visu__com {
    position: absolute;
    top: 56px;
    right: 30px;
    background-color: #99e2d0;
    color: #1b6150;
    height: 20px;
    padding: 8px;
    font-weight: 500;
  }
  .restos__choices__card__desc {
    padding: 15px;
    background-color: #f6f6f6;
    border-radius: 0px 0px 15px 15px;
    width: -webkit-fill-available;
    width: -moz-available;
  }
  .restos__choices__card__anim {
    position: absolute;
    cursor: pointer;
    right: 63px;
    top: 358px;
  }
  .restos__choices__card__anim__heart {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -15px;
    margin-bottom: 20px;
  }
  .restos__choices__card__anim__heart--empty {
    position: absolute;
    color: black;
  }
  .restos__choices__card__anim__heart--full {
    position: absolute;
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC) no-repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 400ms;
  }
  .restos__choices__card__anim__heart:focus .restos__choices__card__anim__heart--full {
    opacity: 1;
    animation: pulse 500ms 1;
  }
  .restos__choices__card__anim__heart:focus .restos__choices__card__anim__heart--empty {
    opacity: 0;
  }
}
@media screen and (min-width: 1024px) {
  body {
    margin: auto;
  }
  .function__desc {
    flex-direction: row;
  }
  .function__desc--cta {
    max-width: 30%;
  }
  .restos__choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .restos__choices__card {
    width: 45%;
  }
  .restos__choices__card__anim {
    top: 359px;
  }
  .restos__choices a {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */