//varibles//
$first-color:#9356DC;
$second-color:#FF79DA;
$third-color:#99e2d0;
$light-background:#f3f3f3;
$med-background:#eaeaea;
$dark-background:#353535;
$btn-background: #f6f6f6;


//mixins//
@mixin ctafunction{
    height: 72px;
    width: 323px;
    border-radius: 20px;
    background-color: $btn-background;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

body, h1, h2{
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
}


h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

@media screen and (min-width: 320px){

body{
    margin: 0px;
}

header{
margin-top: 5px;
height: 63px;
display: flex;
justify-content: center;
}
    .header--img{
    width: 162px;
    }

    //style for the explore section containing h1 txt and cta//
.explore{
    color : $dark-background;
    background-color: $light-background;
        &--location{
            background-color: $med-background;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap:15px;
        }
        &--infos{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 40px;
            align-items: center;
        }
        &--infos--cta{
            display: flex;
            align-items: center;
            justify-content: center;
            cursor:pointer;
            border-radius: 25px;
            height: 50px;
            width: 218px;
            background: linear-gradient(-180deg, $first-color -11.44%, $second-color 123.93%);
            font-size: 16px;
            color: white;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            margin-top: 15px;
                & a{
                    text-decoration: none;
                    color: white;
                }
        }
}

.function{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 75px;
        &--desc{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
        }
        &--desc--cta{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            @include ctafunction();
                &--txt{
                    display: flex;
                    flex-direction: row;
                    gap: 25px;
                    margin-left: 15px;
                    align-items: center;
                }
                & span{
                    width: 24px;
                    height: 24px;
                    border-radius: 13px;
                    padding: 4px 2px 0px 2px;
                    background-color: $first-color;
                    color: white;
                    text-align: center;
                    position: relative;
                    left: -15px;
                }
                & i{
                    color: #7e7e7e;
                }
                & p{
                    font-family: 'Roboto';
                    font-weight: 500;
                    font-size: 16px;
                }
        }
}

.restos{
    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
    background-color: $light-background;
        &--choices{
            & a{
                text-decoration: none;
                color: black;
            }

            &--card{
                display: flex;
                flex-direction: column; 
                margin-top: 33px;
                height: 400px;
                filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
                &--img{
                    display: flex;
                    flex-direction: row;
                    height: 70%;
                    & img{
                        width: 100%;
                        object-fit: cover;
                        border-radius: 15px 15px 0px 0px;
                    }
                }
                &--comm{
                    position: relative;
                    top: 16px;
                    right: 88px;
                    background-color: $third-color;
                    color: darken($color: $third-color, $amount: 50%);
                    height: 20px;
                    padding: 5px;
                }
                &--ctn{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px;
                    background-color: $btn-background;
                    border-radius: 0px 0px 15px 15px;
                    }
                    &--txt{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        box-sizing: border-box;
                        padding-top: 5px;
                        & h3, p{
                            margin: 2px;
                        }
                    }
                }
            }
    }
}

footer{
    background-color: $dark-background;
    color: white;
    padding : 25px;
        & ul{
            list-style-type: none;
            padding-inline-start: 0;
        }
        & li{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            line-height: 30px;
        }
        & a{
            text-decoration: none;
            color: white;
        }
        & img{
            filter: invert(100%);
            height: 27px;
        }
}

//Media querry for tablet version. Allows screens width from 767px to 1024px//
@media screen and (min-width: 767px){
    //same version for mobile and tablet//
}

//Media querry for desktop version. Allows screens width from 1024px to 1440px//
@media screen and (min-width: 1024px){
    .function--desc{
        flex-direction: row;
        &--cta{
            max-width: 30%;
        }
    }

    .restos--choices{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
            & a{
                width: 45%;
            }
    }

    footer{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 20px;
            & ul{
                display: flex;
                gap: 20px;
            }
    }
}
//breakpoint  1024px//