body, h1, h2 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

@media screen and (min-width: 320px) {
  body {
    margin: 0px;
  }
  header {
    margin-top: 5px;
    height: 63px;
    display: flex;
    justify-content: center;
  }
  .header--img {
    width: 162px;
  }
  .explore {
    height: 350px;
    color: #353535;
    background-color: #f3f3f3;
  }
  .explore--location {
    background-color: #eaeaea;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .explore--infos {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    align-items: center;
  }
  .explore--infos--cta {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 50px;
    width: 218px;
    background: linear-gradient(-180deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-size: 16px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
  }
  .function {
    height: 440px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  .function--desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .function--desc--cta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 72px;
    width: 323px;
    border-radius: 20px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  }
  .function--desc--cta--txt {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-left: 15px;
    align-items: center;
  }
  .function--desc--cta span {
    width: 24px;
    height: 24px;
    border-radius: 13px;
    padding: 4px 2px 0px 2px;
    background-color: #9356DC;
    color: white;
    text-align: center;
    position: relative;
    left: -15px;
  }
  .function--desc--cta i {
    color: #7e7e7e;
  }
  .function--desc--cta p {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
  }
  .restos {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f3f3f3;
  }
  .restos--choices {
    display: flex;
    flex-direction: column;
  }
  .restos--choices--card {
    display: flex;
    flex-direction: column;
    height: 231px;
    border-radius: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  .restos--choices--card--img {
    display: flex;
    flex-direction: row;
  }
  .restos--choices--card--img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .restos--choices--card--comm {
    position: relative;
    top: 16px;
    right: 88px;
    background-color: #99e2d0;
    color: #1b6150;
    height: 20px;
    padding: 5px;
  }
  .restos--choices--card--ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f6f6f6;
    border-radius: 0px 0px 15px 15px;
  }
  .restos--choices--card--ctn--txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 5px;
  }
  .restos--choices--card--ctn--txt h3, .restos--choices--card--ctn--txt p {
    margin: 2px;
  }
}/*# sourceMappingURL=main.css.map */