//varibles//
$first-color:#9356DC;
$second-color:#FF79DA;
$third-color:#99e2d0;
$light-background:#f3f3f3;
$med-background:#eaeaea;
$dark-background:#353535;
$btn-background: #f6f6f6;

@mixin menucard {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    padding: 0px 15px 0px 15px;
        &--name{
            line-height: 15px;
        }
        &--price{
            font-weight: 700;
            font-size: 15px;
        }
}

h1{
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

body{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 3px solid $third-color ;
    width: 40px;
    line-height: 30px;
}

@media screen and (min-width: 320px){

    body{
        margin: 0px;
    }
    
    header{
    margin-top: 5px;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        & a{
            position: absolute;
            left: 45px;
        }
    }
        .header--img{
        width: 162px;
        }
    
    .top--image{

        & img{
            width: 100%;
        }
    }

    .menu{
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        padding: 25px;
        border-radius: 70px 68px 0px 0px;
        margin-top: -70px;
        z-index: 1;
        position: relative;
            &--title{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-right: 50px;
            }
            &--entree{
                display: flex;
                flex-direction: column;
                    &--card{
                        @include menucard;
                    }
            }
    }


    footer{
        background-color: $dark-background;
        color: white;
        padding : 25px;
            & ul{
                list-style-type: none;
                padding-inline-start: 0;
            }
            & li{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                line-height: 30px;
            }
            & a{
                text-decoration: none;
                color: white;
            }
            & img{
                filter: invert(100%);
                height: 27px;
            }
    }
}