body, h1, h2 {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

h3, p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.mainh2 {
  font-weight: 700;
  font-size: 24px;
  border-bottom: 0;
}

@media screen and (min-width: 320px) {
  footer {
    background-color: #353535;
    color: white;
    padding: 25px;
  }
  footer ul {
    list-style-type: none;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  footer li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    line-height: 30px;
  }
  footer a {
    text-decoration: none;
    color: white;
    transition: color 300ms 150ms;
  }
  footer a:hover {
    color: #a872e3;
  }
  footer img {
    filter: invert(100%);
    height: 27px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
  }
  footer ul {
    display: flex;
    gap: 20px;
  }
}
h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

@media screen and (min-width: 320px) {
  body {
    margin: auto;
    animation: fadeIn 3s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  header {
    margin-top: 5px;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header a {
    position: absolute;
    left: 45px;
    color: #353535;
  }
  .header--img {
    width: 162px;
  }
  .top--image {
    max-height: 600px;
  }
  .top--image img {
    width: 100%;
    max-height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .link:focus .menu--plate--card--anim {
    transform: scaleX(2);
  }
  .link:focus .menu--plate--card--anim i {
    transform: scaleY(2);
  }
  .link:focus .menu--plate--card--name {
    width: 60%;
  }
  .menu {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 70px 70px 0px 0px;
    margin-top: -70px;
    z-index: 1;
    position: relative;
  }
  .menu--list {
    width: 100%;
  }
  .menu a {
    color: black;
  }
  .menu--title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
  .menu--plate {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    width: 100%;
  }
  .menu--plate--card {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 21px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    padding: 0px 0px 0px 15px;
    margin-top: 20px;
  }
  .menu--plate--card--name {
    line-height: 15px;
    padding: 10px;
  }
  .menu--plate--card--price {
    font-weight: 700;
    font-size: 15px;
  }
  .menu--plate--card--price {
    padding-bottom: 10px;
  }
  .menu--plate--card--anim {
    display: flex;
    align-items: center;
    background-color: #99e2d0;
    height: 80px;
    padding: 10px;
    border-radius: 0px 8px 8px 0px;
    transition-duration: 325ms;
    transition-timing-function: ease-in-out;
    transform-origin: 100% 50%;
    transform: scaleX(0);
  }
  .menu--plate--card--anim i {
    transition-duration: 400ms;
    transition-timing-function: ease-in;
    transform: scaleY(0);
  }
  .menu--plate--card--name {
    width: 80%;
    transform-origin: 0% 50%;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
  }
  .menu--plate--cta {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 25px;
    height: 50px;
    width: 218px;
    background: linear-gradient(-180deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-size: 16px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 70px;
    margin-bottom: 80px;
    transition: transform 450ms, background 300ms 150ms;
  }
  .menu--plate--cta:hover {
    background: linear-gradient(-180deg, #a872e3 -11.44%, #ff92e0 123.93%);
    transform: scale(1.02);
  }
  .menu--plate--cta a {
    color: white;
  }
}
@media screen and (min-width: 767px) {
  .menu--list {
    width: 75%;
  }
  .menu--plate--sel {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-direction: column;
  }
  .menu--plate--card {
    width: 90%;
  }
  .menu--plate--card--name {
    width: 70%;
    max-height: 100%;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .top--image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }
  .top--image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .link:focus .menu--plate--card--anim {
    transform: scaleX(2);
  }
  .link:focus .menu--plate--card--anim i {
    transform: scaleY(2);
  }
  .link:focus .menu--plate--card--name {
    width: 30%;
  }
  .menu {
    width: 85%;
    margin-left: 6%;
  }
  .menu--list {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    justify-content: center;
  }
  .menu--plate {
    padding-left: 0;
    width: 30%;
  }
  .menu--plate--sel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .menu--plate a {
    width: 100%;
  }
}/*# sourceMappingURL=menu-palette-du-gout.css.map */