@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    transform: scale(1.2);
  }
}
@keyframes unpulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
body, h1, h2 {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

h3, p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.explore__infos__txt {
  white-space: normal;
}

.mainh2 {
  font-weight: 700;
  font-size: 24px;
  border-bottom: 0;
}

@media screen and (min-width: 320px) {
  footer {
    background-color: #353535;
    color: white;
    padding: 25px;
  }
  footer ul {
    list-style-type: none;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  footer li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    line-height: 30px;
  }
  footer a {
    text-decoration: none;
    color: white;
    transition: color 300ms 150ms;
  }
  footer a:hover {
    color: #a872e3;
  }
  footer img {
    filter: invert(100%);
    height: 27px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
  }
  footer ul {
    display: flex;
    gap: 20px;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    transform: scale(1.2);
  }
}
@keyframes unpulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
body, h1, h2 {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

h3, p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.explore__infos__txt {
  white-space: normal;
}

.mainh2 {
  font-weight: 700;
  font-size: 24px;
  border-bottom: 0;
}

@media screen and (min-width: 320px) {
  footer {
    background-color: #353535;
    color: white;
    padding: 25px;
  }
  footer ul {
    list-style-type: none;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  footer li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    line-height: 30px;
  }
  footer a {
    text-decoration: none;
    color: white;
    transition: color 300ms 150ms;
  }
  footer a:hover {
    color: #a872e3;
  }
  footer img {
    filter: invert(100%);
    height: 27px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
  }
  footer ul {
    display: flex;
    gap: 20px;
  }
}
@media screen and (min-width: 320px) {
  .loaderpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 450px;
    opacity: 0;
    animation: fade 2.5s 150ms ease-out;
  }
  @keyframes fade {
    10% {
      opacity: 1;
    }
    98% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .loader {
    font-family: "Shrikhand", sans-serif;
    font-size: 48px;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 2px;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(#FF79DA, #9356DC) no-repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .loader::after {
    content: "Ohmyfood";
    position: absolute;
    left: 0;
    top: 0;
    color: #d6d6d6;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: animloader 3s 150ms infinite;
  }
  @keyframes animloader {
    0% {
      height: 100%;
    }
    40% {
      height: 60%;
    }
    60% {
      height: 50%;
      animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
    }
    100% {
      height: 0%;
    }
  }
  .plate {
    width: 20px;
    height: 20px;
    position: relative;
    left: -96px;
    top: 14px;
    border-radius: 50%;
    color: #9356DC;
    background: #9356DC;
    box-shadow: 60px 0, 120px 0, 180px 0;
  }
  .plate::after {
    content: "";
    position: absolute;
    left: -96px;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FF79DA;
    animation: move 3s 150ms linear infinite alternate;
  }
  @keyframes move {
    0%, 5% {
      left: 0px;
      width: 20px;
    }
    15%, 20% {
      left: 0px;
      width: 80px;
    }
    30%, 35% {
      left: 60px;
      width: 20px;
    }
    45%, 50% {
      left: 60px;
      width: 80px;
    }
    60%, 65% {
      left: 120px;
      width: 20px;
    }
    75%, 80% {
      left: 120px;
      width: 80px;
    }
    95%, 100% {
      left: 180px;
      width: 20px;
    }
  }
}
h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
  width: 60%;
}

@media screen and (min-width: 320px) {
  .main {
    margin: auto;
    animation: fadeIn 3s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  body {
    margin: auto;
  }
  header {
    margin-top: 5px;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  header a {
    position: absolute;
    left: 45px;
    color: #353535;
  }
  .header--img {
    width: 50%;
  }
  .top--image {
    max-height: 600px;
  }
  .top--image img {
    width: 100%;
    max-height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .anim {
    position: absolute;
    cursor: pointer;
    right: 63px;
  }
  .anim__heart {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -15px;
    margin-bottom: 20px;
  }
  .anim__heart--empty {
    position: absolute;
    color: black;
  }
  .anim__heart--full {
    position: absolute;
    opacity: 1;
    background: linear-gradient(#FF79DA, #9356DC) no-repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: unpulse 500ms 1 both;
    animation-direction: reverse;
    animation-fill-mode: forwards;
  }
  .anim__heart:focus .anim__heart--full {
    animation: pulse 500ms 1 both;
  }
  .anim__heart:focus .anim__heart--empty {
    opacity: 0;
  }
  .link:focus .menu--plate--card--anim {
    transform: scaleX(2);
  }
  .link:focus .menu--plate--card--anim i {
    transform: scaleY(2);
  }
  .link:focus .menu--plate--card--name {
    width: 40%;
  }
  .menu {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 70px 70px 0px 0px;
    margin-top: -70px;
    z-index: 1;
    position: relative;
  }
  .menu--list {
    width: 100%;
  }
  .menu a {
    color: black;
  }
  .menu--title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
  .menu--plate {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    width: 100%;
    opacity: 0;
    animation: appear 1000ms forwards;
  }
  .menu--plate--1 {
    animation-delay: 333.3333333333ms;
  }
  .menu--plate--2 {
    animation-delay: 666.6666666667ms;
  }
  .menu--plate--3 {
    animation-delay: 1000ms;
  }
  .menu--plate--card {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 21px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    padding: 0px 0px 0px 15px;
    margin-top: 20px;
  }
  .menu--plate--card--name {
    line-height: 15px;
    padding: 10px;
  }
  .menu--plate--card--price {
    font-weight: 700;
    font-size: 15px;
  }
  .menu--plate--card--price {
    padding-bottom: 10px;
  }
  .menu--plate--card--anim {
    display: flex;
    align-items: center;
    background-color: #99e2d0;
    height: 80px;
    padding: 10px;
    border-radius: 0px 8px 8px 0px;
    transition-duration: 325ms;
    transition-timing-function: ease-in-out;
    transform-origin: 100% 50%;
    transform: scaleX(0);
  }
  .menu--plate--card--anim i {
    transition-duration: 400ms;
    transition-timing-function: ease-in;
    transform: scaleY(0);
  }
  .menu--plate--card--name {
    width: 70%;
    transform-origin: 0% 50%;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
  }
  .menu--plate--cta {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 25px;
    height: 50px;
    width: 218px;
    background: linear-gradient(-180deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-size: 16px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 70px;
    margin-bottom: 80px;
    transition: transform 450ms, background 300ms 150ms;
  }
  .menu--plate--cta:hover {
    background: linear-gradient(-180deg, #a872e3 -11.44%, #ff92e0 123.93%);
    transform: scale(1.02);
  }
  .menu--plate--cta a {
    color: white;
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media screen and (min-width: 767px) {
  .header--img {
    width: 250px;
  }
  .menu--list {
    width: 75%;
  }
  .menu--plate--sel {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-direction: column;
  }
  .menu--plate--card {
    width: 90%;
  }
  .menu--plate--card--name {
    width: 70%;
    max-height: 100%;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .link:focus .menu--plate--card--name {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .top--image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }
  .top--image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .link:focus .menu--plate--card--anim {
    transform: scaleX(2);
  }
  .link:focus .menu--plate--card--anim i {
    transform: scaleY(2);
  }
  .link:focus .menu--plate--card--name {
    width: 30%;
  }
  .menu {
    width: 85%;
    margin-left: 6%;
  }
  .menu--list {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    justify-content: center;
  }
  .menu--plate {
    padding-left: 0;
    width: 30%;
  }
  .menu--plate--sel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .menu--plate a {
    width: 100%;
  }
}/*# sourceMappingURL=menu-palette-du-gout.css.map */