//variAbles//
$first-color:#9356DC;
$first-color-light: #a872e3;
$second-color:#FF79DA;
$second-color-light: #ff92e0;
$third-color:#99e2d0;
$light-background:#f3f3f3;
$med-background:#eaeaea;
$dark-background:#353535;
$btn-background: #f6f6f6;
$degrade-color:linear-gradient(#FF79DA, #9356DC);

//variable for menu apparition//
$anim-dur:1000ms;
$num-menu:3;
$anim-delay: $anim-dur / $num-menu;