body, h1, h2{
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
}


h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}


h2{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 3px solid $third-color ;
    width: 40px;
    line-height: 30px;
}

a{
    text-decoration: none;
}

h3, p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}